
/* FOOTER */
.footer{
	background-color: $color-footer;
    .rrss_footer{
        h3{
            color: $title-footer;
        }
    }
}

.logo___footer{
    h2{
        color: $title-footer;
    }
    p{
        color: $text-footer;
    }
}

.enlace__footer{
    color: $title-footer;
    &:hover{
        color: $color-background !important;
    }
    &:visited{
        color: $title-footer;
    }
    
}

.subenlace__footer{
    color: $text-footer;
    &:hover{
        color: $color-secondary !important;
    }
    &:visited{
        color: $text-footer;
    }
}


/*   FIN   DE  FOOTER  */