/* FUENTES */
.step-0{
    font-size: clamp(0.62rem,  0.62vw,  0.75rem);
}
.step-1{
    font-size: clamp(0.68rem,  0.62vw,  0.81rem);
}
.step-2{
    font-size: clamp(0.81rem,  0.81vw,  1rem);
}
.step-3{
    font-size: clamp(0.87rem,  0.81vw,  1.12rem);
}
.step-4{
    font-size: clamp(0.93rem,  0.86vw,  1.25rem);
}
.step-5{
    font-size: clamp(1rem,   1.38vw,  2.37rem);
}
.step-6{
    font-size: clamp(1.18rem, 1.58vw, 2.5rem);
}
.step-7{
    font-size: clamp(1.5rem , 2.3vw, 2.81rem);
}
.step-8{
    font-size: clamp(1.875rem, 3.4vw, 3.75rem);
}
.step-9{
    font-size: clamp(2.375rem, 4.9vw, 5rem);
}